.container {
  margin: 10px auto;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}


.form {
  width: 100%;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px #00e6ab1f;
  padding: 20px;
}

.form__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: #212121;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 4px;
}

.form__wrap:hover > .form__input {
  border-color: #25a182;
  cursor: pointer;
}

.form__wrap:hover > .form__icon {
  fill: #25a182;
  cursor: pointer;
}

.form__wrap:focus-within > .form__input {
  border-color: #25a182;
}

.form__wrap:focus-within > .form__icon {
  fill: #25a182;
}

.form__input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);

  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.button {
  display: block;
  margin: 0 auto;
  padding: 12px 50px;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
  border-radius: 4px;
  background: #449d87;
  border-color: #449d87;
  box-shadow: 0px 30px 40px 0px #2c5b4f1f;
  color: aliceblue;
}

.button:hover {
  background: #326a5c;
  border-color: #b7ffed;
}
.form__message {
font-size: 12px;
color: #e01818;
}